.item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  text-decoration: none;
  z-index: 0;
  padding: 2px 5px;
  font-size: 12px;
}

.item:hover {
  cursor: pointer;
}

.item-title {
  font-weight: 600;
  font-size: 13px;
  overflow: hidden;
  height: 20px;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}
